* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-symbols-outlined {
   font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' -50,
      'opsz' 24;
   user-select: none;
}

.all-delete .material-symbols-outlined {
   font-variation-settings:
      'FILL' 0,
      'wght' 700,
      'GRAD' 0,
      'opsz' 24
}

.add-item .material-symbols-outlined {
   font-variation-settings:
      'FILL' 1,
      'wght' 700,
      'GRAD' 0,
      'opsz' 24
}

main {
   width: 100%;
   max-width: 700px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 40px;
   padding-top: 20px;
   min-height: 70vh;
   background-color: #adb5bd;
   box-shadow: 0px 10px 50px -10px #555555;
   border-radius: 20px;
   padding: 20px;

}

header {
   display: grid;
   width: 100%;
   grid-template-columns: .2fr .6fr .2fr;
   margin-bottom: 10px;
   min-height: 60px;
}

.all-delete {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: red;
}

h1 {
   text-align: center;
}

.add-box {
   margin-bottom: 20px;
}

.add {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: white;
   border-right: 3px dashed #484848;
   width: 100%;
   height: 100%;
   padding: 20px;
}

::placeholder {
   animation: placeholder .5s both;
}

::-ms-input-placeholder {
   animation: placeholder .5s both;
}
::-webkit-input-placeholder{
   animation: placeholder .5s both;
}
@keyframes placeholder {
   
}
.add-inbox>input {
   width: 100%;
   height: 100%;
   background: none;
   padding: 10px;
   font-size: 1.4rem;
   outline: none;
   border: none;
}

.todo-box {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.todo-item {
   display: grid;
   grid-template-columns: .2fr .8fr;
   background: #dcdcdc;
   border-radius: 10px;
   box-shadow: 0px 10px 10px -10px #555555;
}

.delete {
   display: flex;
   align-items: center;
   justify-content: center;
   border-right: 3px dashed #484848;
   color: red;
   width: 100%;
   height: 100%;
   padding: 20px;
   cursor: pointer;
}

.to-do-item-name {
   text-align: left;
   font-size: 1.3rem;
   padding: 20px;
}